In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import random
from IPython.display import Image
from sklearn.metrics import accuracy_score

random.seed(0)
np.random.seed(0)

In [2]:
training = pd.read_csv('optdigits.tra',names=np.arange(64))
training

,0,1,2,3,4,5,6,7,8,9,...,54,55,56,57,58,59,60,61,62,63
0,1,6,15,12,1,0,0,0,7,16,...,0,0,0,6,14,7,1,0,0,0
0,0,10,16,6,0,0,0,0,7,16,...,0,0,0,10,16,15,3,0,0,0
0,0,8,15,16,13,0,0,0,1,11,...,0,0,0,9,14,0,0,0,0,7
0,0,0,3,11,16,0,0,0,0,5,...,0,0,0,0,1,15,2,0,0,4
0,0,5,14,4,0,0,0,0,0,13,...,0,0,0,4,12,14,7,0,0,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,0,5,13,11,2,0,0,0,2,15,...,0,0,0,8,13,15,10,1,0,9
0,0,0,1,12,1,0,0,0,0,0,...,0,0,0,0,4,9,0,0,0,4
0,0,3,15,0,0,0,0,0,0,11,...,0,0,0,4,14,16,9,0,0,6
0,0,6,16,2,0,0,0,0,0,15,...,0,0,0,5,16,16,16,5,0,6
0,0,2,15,16,13,1,0,0,0,3,...,0,0,0,4,14,1,0,0,0,7

In [3]:
testing = pd.read_csv('optdigits.tes',names=np.arange(64))
testing

,0,1,2,3,4,5,6,7,8,9,...,54,55,56,57,58,59,60,61,62,63
0,0,5,13,9,1,0,0,0,0,13,...,0,0,0,6,13,10,0,0,0,0
0,0,0,12,13,5,0,0,0,0,0,...,0,0,0,0,11,16,10,0,0,1
0,0,0,4,15,12,0,0,0,0,3,...,0,0,0,0,3,11,16,9,0,2
0,0,7,15,13,1,0,0,0,8,13,...,0,0,0,7,13,13,9,0,0,3
0,0,0,1,11,0,0,0,0,0,0,...,0,0,0,0,2,16,4,0,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,0,4,10,13,6,0,0,0,1,16,...,0,0,0,2,14,15,9,0,0,9
0,0,6,16,13,11,1,0,0,0,16,...,0,0,0,6,16,14,6,0,0,0
0,0,1,11,15,1,0,0,0,0,13,...,0,0,0,2,9,13,6,0,0,8
0,0,2,10,7,0,0,0,0,0,14,...,0,0,0,5,12,16,12,0,0,9
0,0,10,14,8,1,0,0,0,2,16,...,0,0,1,8,12,14,12,1,0,8

In [4]:
X = training.drop(63,axis=1)
X

,0,1,2,3,4,5,6,7,8,9,...,53,54,55,56,57,58,59,60,61,62
0,1,6,15,12,1,0,0,0,7,16,...,0,0,0,0,6,14,7,1,0,0
0,0,10,16,6,0,0,0,0,7,16,...,3,0,0,0,10,16,15,3,0,0
0,0,8,15,16,13,0,0,0,1,11,...,0,0,0,0,9,14,0,0,0,0
0,0,0,3,11,16,0,0,0,0,5,...,0,0,0,0,0,1,15,2,0,0
0,0,5,14,4,0,0,0,0,0,13,...,12,0,0,0,4,12,14,7,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,0,5,13,11,2,0,0,0,2,15,...,10,0,0,0,8,13,15,10,1,0
0,0,0,1,12,1,0,0,0,0,0,...,0,0,0,0,0,4,9,0,0,0
0,0,3,15,0,0,0,0,0,0,11,...,4,0,0,0,4,14,16,9,0,0
0,0,6,16,2,0,0,0,0,0,15,...,15,0,0,0,5,16,16,16,5,0
0,0,2,15,16,13,1,0,0,0,3,...,0,0,0,0,4,14,1,0,0,0

In [5]:
Y = training[[63]]
Y

    63
0    0
0    0
0    7
0    4
0    6
..  ..
0    9
0    4
0    6
0    6
0    7

[3823 rows x 1 columns]

<b>Formulas to use:</b>

In [6]:
Image(url= "Logistic_Regression-1.png")

In [7]:
Image(url= "Logistic Regression-2.png")

In [8]:
Image(url= "Logistic_Regression-3.png")

In [9]:
Image(url= "Logistic_Regression-4.png")

<b>First making a model for binary classification:</b>

In [10]:
def sigmoid(x):
    return 1/(1+np.exp(-x))

In [11]:
def htheta(theta,x):
    return sigmoid(np.dot(x,theta))

In [12]:
def cal_cost(x,y,theta):
    h = htheta(theta,x)
    m = len(x)
    return (-1/m * (np.sum(y*np.log(h)+(1-y)*np.log(1-h))))

In [22]:
def gd(alpha,x,y,iterations):
    m = len(x)
    ones =np.ones((m,1)) 
    x = np.concatenate((ones, x), axis=1) 
    n = x.shape[1]
    theta = np.ones(x.shape[1])
    h = htheta(theta,x)
    cost = np.ones(iterations)
    for i in range(0,iterations):
        for j in range(0,n):
            theta[j] = theta[j] - ((alpha/m)*np.sum((h-y)*x[:,j]))   
    return theta

In [23]:
def log_reg(x,y,alpha,iterations):
    theta = gd(alpha,x,y,iterations)
    return theta

In [24]:
fake_Y = np.concatenate((np.ones(3000),np.zeros(823)),axis=0)
fake_Y = fake_Y.reshape(len(fake_Y),1)
fake_Y.shape

(3823, 1)

In [26]:
theta = log_reg(np.array(X),fake_Y,0.0002,10)
theta

array([ -0.646     ,   0.50400419,  -8.02307664, -18.43253047,
       -17.84913262,  -8.06182631,  -1.2836474 ,   0.76577975,
         0.99655558,  -2.22698666, -16.41022809, -18.28355951,
       -16.48858854, -12.65452367,  -2.62137222,   0.74984933,
         0.99181951,  -3.27279728, -14.76982527, -10.0858509 ,
       -10.82898352, -12.24765211,  -2.36777714,   0.91905624,
         0.99827779,  -2.84439812, -14.20752446, -14.03401203,
       -14.92224065, -11.95014073,  -2.85214805,   0.99483338,
         0.99784724,  -2.36261052, -11.6074214 , -14.20580225,
       -16.03220351, -14.14337222,  -3.79419566,   1.        ,
         0.95479205,  -1.31378603,  -9.62774366, -10.83027518,
       -12.03883442, -13.27882396,  -4.7780068 ,   0.96727805,
         0.97072247,  -0.34978028, -11.95229349, -15.27184881,
       -15.07293382, -14.28028773,  -5.16248967,   0.75587706,
         0.99956945,   0.53414282,  -8.63876589, -18.65813968,
       -17.86506304, -10.02901805,  -2.46594298,   0.66718336])

In [ ]:
X_test = testing.drop(63,axis=1)
X_test = np.array(X_test)
X_test

In [370]:
X_test = (X_test-X_test.meandd())/X_test.std()

<b>For multiclass classification(One vs all method):</b>

In [27]:
#Create different output classes for each of the output
classes = Y[63].unique()
classes

array([0, 7, 4, 6, 2, 5, 8, 1, 9, 3], dtype=int64)

In [28]:
Y_new = np.zeros(shape=(len(X),len(classes)))
Y_new = pd.DataFrame(Y_new,columns=classes)       
Y_new

        0    7    4    6    2    5    8    1    9    3
0     0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1     0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2     0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
3     0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4     0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
...   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
3818  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
3819  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
3820  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
3821  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
3822  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0

[3823 rows x 10 columns]

In [29]:
for i in range(0, len(Y)):
    val = Y[63].iloc[i]
    Y_new[val].iloc[i] = 1
        
Y_new

        0    7    4    6    2    5    8    1    9    3
0     1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1     1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2     0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
3     0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4     0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0
...   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
3818  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
3819  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
3820  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0
3821  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0
3822  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0

[3823 rows x 10 columns]

In [31]:
theta_all_classes = {}
for i in range(0,len(classes)):
    t = log_reg(np.array(X),np.array(Y_new[classes[i]]).reshape(len(Y),),0.0002,10)
    theta_all_classes[classes[i]] = t
theta_all_classes

{0: array([0.9981967 , 0.99940309, 0.98993199, 0.97898038, 0.9792498 ,
        0.98950772, 0.99723673, 0.99971541, 0.99999581, 0.99630866,
        0.98139733, 0.97914674, 0.98116505, 0.98551713, 0.99574523,
        0.99969605, 0.99999006, 0.99557049, 0.98366571, 0.98745279,
        0.98621658, 0.98640753, 0.99656239, 0.99990165, 0.99999791,
        0.99635731, 0.98403087, 0.98206016, 0.98071828, 0.98607743,
        0.99662359, 0.99999372, 0.99999738, 0.99698143, 0.9870238 ,
        0.98170965, 0.97934031, 0.98330526, 0.99562804, 1.        ,
        0.99994507, 0.99784096, 0.98974784, 0.98597855, 0.98444311,
        0.98488988, 0.99424902, 0.99996024, 0.99996443, 0.99851007,
        0.98684279, 0.98230813, 0.98256291, 0.98408632, 0.99304211,
        0.99970337, 0.99999948, 0.99943761, 0.9891865 , 0.97878002,
        0.97969867, 0.98769291, 0.99582841, 0.99959561]),
 7: array([0.99820246, 0.99947685, 0.99045095, 0.97909129, 0.98001569,
        0.99148627, 0.99848862, 0.99991368, 0.99999581, 0.99626471,
        0.98063929, 0.97868323, 0.98097986, 0.98611195, 0.9971028 ,
        0.99985666, 0.99999006, 0.99488935, 0.98114099, 0.98670364,
        0.98695946, 0.98639864, 0.99677583, 0.99992676, 0.99999791,
        0.99542035, 0.98220717, 0.98312686, 0.98321528, 0.98676275,
        0.99616113, 0.99999477, 0.99999738, 0.99622077, 0.98642951,
        0.98435208, 0.9824023 , 0.98414805, 0.99515511, 1.        ,
        0.99994507, 0.99735286, 0.98791211, 0.9881062 , 0.98631651,
        0.98342087, 0.99312686, 0.99996024, 0.99996443, 0.99838975,
        0.98522312, 0.98295318, 0.98148993, 0.98148313, 0.99251269,
        0.99970337, 0.99999948, 0.99951399, 0.98996181, 0.9783819 ,
        0.97740099, 0.98662202, 0.99578865, 0.99959561]),
 4: array([0.99820246, 0.99940099, 0.98922574, 0.97765786, 0.97933769,
        0.98953283, 0.997356  , 0.99975987, 0.99999581, 0.996113  ,
        0.97948522, 0.9789605 , 0.98055768, 0.98394507, 0.99612503,
        0.9997876 , 0.99999006, 0.99497724, 0.9825807 , 0.98891551,
        0.98645095, 0.98515041, 0.99686372, 0.99995972, 0.99999791,
        0.99607586, 0.98424326, 0.9835412 , 0.9817876 , 0.98666911,
        0.99658331, 0.99999895, 1.        , 0.99723882, 0.98757259,
        0.98361862, 0.98170651, 0.98450222, 0.9951525 , 1.        ,
        1.        , 0.9983819 , 0.98908815, 0.98786974, 0.98710437,
        0.98490243, 0.99332357, 0.99996076, 0.99999738, 0.99874758,
        0.98498143, 0.98178028, 0.98322155, 0.98256814, 0.99258907,
        0.99970547, 0.99999948, 0.99944808, 0.98849961, 0.97753021,
        0.9793649 , 0.98712529, 0.99580853, 0.99959927]),
 6: array([0.99819723, 0.9993989 , 0.98945069, 0.97851792, 0.97867329,
        0.98921109, 0.99722522, 0.99971541, 0.99999581, 0.99611352,
        0.98043631, 0.97925137, 0.9798577 , 0.98357311, 0.99559979,
        0.99969605, 0.99999006, 0.99500392, 0.98332566, 0.98825582,
        0.9857515 , 0.9839074 , 0.99590845, 0.99990165, 0.99999791,
        0.99576563, 0.98424902, 0.98309391, 0.98118807, 0.98447293,
        0.99533037, 0.99999372, 0.99999738, 0.99656605, 0.98754486,
        0.98387863, 0.98157991, 0.98343971, 0.99457808, 1.        ,
        0.99994507, 0.99760345, 0.99000889, 0.98793513, 0.9856542 ,
        0.98483599, 0.99477688, 0.99999529, 0.99996443, 0.99844572,
        0.98636777, 0.98276484, 0.98171488, 0.98361653, 0.99474863,
        0.99986346, 0.99999948, 0.99943761, 0.98870782, 0.97819566,
        0.97996495, 0.98912896, 0.9968679 , 0.99964426]),
 2: array([0.9981988 , 0.99958462, 0.99109234, 0.97916139, 0.97860999,
        0.98926445, 0.99724405, 0.99971541, 0.99999581, 0.99706409,
        0.98175255, 0.97907926, 0.98116296, 0.98425582, 0.99565472,
        0.99969605, 0.99999006, 0.9956882 , 0.98244834, 0.98737745,
        0.98783887, 0.98498875, 0.99597384, 0.99990165, 0.99999791,
        0.99555166, 0.98198849, 0.98264818, 0.98292284, 0.98514831,
        0.99534659, 0.99999372, 0.99999738, 0.99592885, 0.98492388,
        0.98314413, 0.98133037, 0.98204813, 0.99418624, 1.        ,
        0.99994507, 0.99723882, 0.98801099, 0.98789485, 0.98557049,
        0.98293278, 0.99304525, 0.99996024, 0.99996704, 0.99866702,
        0.98662098, 0.98313785, 0.98286634, 0.98355114, 0.99386974,
        0.99977557, 1.        , 0.99962595, 0.99038765, 0.97890609,
        0.97970233, 0.98902119, 0.99755742, 0.99983573]),
 5: array([0.9981967 , 0.99949411, 0.99060685, 0.97894481, 0.97985404,
        0.99120586, 0.99787758, 0.99973686, 0.99999738, 0.99667068,
        0.98162595, 0.97908867, 0.98061208, 0.98494324, 0.99603453,
        0.99970233, 0.99999268, 0.99568036, 0.9835909 , 0.98784672,
        0.98614073, 0.98405807, 0.99592362, 0.99990165, 0.99999791,
        0.99620507, 0.98419984, 0.98412608, 0.98241852, 0.98514151,
        0.99540047, 0.99999372, 0.99999738, 0.99617159, 0.98592257,
        0.98301439, 0.9810259 , 0.98318755, 0.9945514 , 1.        ,
        0.99994507, 0.99720848, 0.98724771, 0.98611038, 0.98545017,
        0.98452158, 0.99349359, 0.99996129, 0.99996443, 0.99849019,
        0.98549621, 0.98180853, 0.98264452, 0.98323097, 0.99285116,
        0.99970756, 0.99999948, 0.99950876, 0.99001883, 0.97893591,
        0.97915459, 0.98729427, 0.99587444, 0.99959665]),
 8: array([0.9981988 , 0.99942611, 0.99014125, 0.97890662, 0.97955166,
        0.99017526, 0.99731886, 0.99971541, 0.99999843, 0.99656709,
        0.98152446, 0.97859482, 0.98059116, 0.98577923, 0.99607376,
        0.99969605, 0.99999058, 0.99555742, 0.98331258, 0.98776511,
        0.98724353, 0.98618676, 0.99634423, 0.99990165, 0.99999791,
        0.99561078, 0.98352917, 0.98444206, 0.98333665, 0.9856249 ,
        0.99544703, 0.99999372, 0.99999738, 0.99598954, 0.98625163,
        0.98440073, 0.98167879, 0.98248391, 0.99426838, 1.        ,
        0.99994507, 0.99740466, 0.98938059, 0.98741407, 0.98589328,
        0.98417578, 0.99334292, 0.99996024, 0.99996443, 0.99860947,
        0.98674549, 0.98189799, 0.9820837 , 0.98342035, 0.99304839,
        0.99970337, 0.99999948, 0.99945749, 0.98945017, 0.97877688,
        0.97959979, 0.9879503 , 0.99597541, 0.99959927]),
 1: array([0.99820351, 0.99940047, 0.98951347, 0.97822338, 0.97935077,
        0.99016427, 0.99733089, 0.99971541, 0.99999581, 0.99612346,
        0.97981794, 0.97913471, 0.98176824, 0.98529009, 0.99578499,
        0.99969605, 0.99999686, 0.99509652, 0.9824813 , 0.98951661,
        0.98866283, 0.98556579, 0.99601936, 0.99990165, 1.        ,
        0.99582684, 0.98357886, 0.98471985, 0.98364007, 0.98579126,
        0.9954125 , 0.99999372, 0.99999738, 0.99624588, 0.98619932,
        0.98398117, 0.98225425, 0.98307873, 0.99425687, 1.        ,
        0.99994507, 0.99726654, 0.98804447, 0.98777086, 0.98704996,
        0.98422234, 0.99309286, 0.99996024, 0.99996443, 0.99838765,
        0.98517238, 0.98245462, 0.9834146 , 0.98337379, 0.99284541,
        0.99974209, 0.99999948, 0.9994418 , 0.98876223, 0.97787183,
        0.97963536, 0.98842794, 0.99626314, 0.9996971 ]),
 9: array([0.99819984, 0.99942663, 0.9900926 , 0.97878629, 0.9794554 ,
        0.99022234, 0.99758514, 0.99972744, 0.99999581, 0.99653989,
        0.98143552, 0.97871776, 0.98087941, 0.98566205, 0.99633743,
        0.99973267, 0.99999006, 0.9956542 , 0.9834847 , 0.98773738,
        0.98738425, 0.98672142, 0.99674078, 0.99991682, 0.99999791,
        0.99578708, 0.98370808, 0.98395606, 0.98310489, 0.9872001 ,
        0.99620507, 0.99999372, 0.99999738, 0.99595919, 0.98524143,
        0.98253204, 0.9805875 , 0.98417421, 0.99510489, 1.        ,
        0.99994507, 0.99720167, 0.9871525 , 0.98578917, 0.98499032,
        0.98469317, 0.99401831, 0.99996181, 0.99996443, 0.99844939,
        0.98515564, 0.98140884, 0.98207272, 0.98333403, 0.9933989 ,
        0.99971645, 0.99999948, 0.99945749, 0.98935705, 0.9785807 ,
        0.97944442, 0.98797646, 0.99609469, 0.99960031]),
 3: array([0.99820351, 0.99956422, 0.99082134, 0.97922365, 0.97977505,
        0.9901334 , 0.99736385, 0.99972378, 0.99999581, 0.99694585,
        0.98149411, 0.9784656 , 0.98117761, 0.98560188, 0.99593984,
        0.99970494, 0.99999006, 0.99515668, 0.98151661, 0.98719854,
        0.98799425, 0.98574418, 0.99605912, 0.99990165, 0.99999791,
        0.99535862, 0.98196181, 0.98387968, 0.98354852, 0.98549411,
        0.99536437, 0.99999372, 0.99999738, 0.99592571, 0.98502066,
        0.98308397, 0.98183678, 0.98403034, 0.99469108, 1.        ,
        0.99994507, 0.99719801, 0.98718598, 0.98575987, 0.9849401 ,
        0.98525765, 0.99434476, 0.99996181, 0.99996443, 0.99854251,
        0.98575307, 0.98154329, 0.98216165, 0.98423646, 0.99370337,
        0.99970965, 0.99999948, 0.99957677, 0.99026262, 0.97906722,
        0.97973319, 0.98815171, 0.99603924, 0.99959665])}

In [32]:
pd.DataFrame(theta_all_classes).iloc[:,0]

0     0.998197
1     0.999403
2     0.989932
3     0.978980
4     0.979250
        ...
59    0.978780
60    0.979699
61    0.987693
62    0.995828
63    0.999596
Name: 0, Length: 64, dtype: float64

In [43]:
predict_all = []
for i in range(0, len(classes)):
    theta_i = pd.DataFrame(theta_all_classes)
    h = htheta(theta_i.iloc[:,i], X)
    predict_all.append(h)
predict_all=pd.DataFrame(predict_all)

In [52]:
htheta(theta_all_classes[0],X)

array([1., 1., 1., ..., 1., 1., 1.])

In [54]:
np.dot(X,theta_all_classes[0])

array([238.69297149, 294.39620978, 242.31375621, ..., 250.03898509,
       275.43135757, 196.21581219])